li {
  background-color: #F09218; }

body {
  background-color: black; }

.texto_parrafo {
  background: #22E35C; }

.texto_titulo {
  background: #FAF619; }

footer {
  background: linear-gradient(to bottom, #E69719, #8C8C8C); }

li {
  border-radius: 15px;
  margin: 10px; }

.texto_parrafo {
  font-size: 20px;
  font-family: "Atkinson Hyperlegible";
  font-weight: bold; }

.texto_titulo {
  font-size: 30px;
  font-family: "Atkinson Hyperlegible";
  font-weight: bold; }

.titulo {
  font-family: "Atkinson Hyperlegible";
  font-weight: bold;
  font-size: 30px; }

.tabla td {
  font-size: 20px;
  font-weight: normal; }

.tabla th {
  font-size: 25px;
  font-weight: bold; }

.productosFlex {
  display: flex;
  flexdirecction: row;
  padding: 50px;
  margin: 30px;
  border: 15px; }

.producto {
  padding: 50px;
  margin: 30px;
  border: 15px; }

.carousel .carousel-item {
  height: 800px; }

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px; }
