.imgTabla {
		display: block;
		transition:all 3s;
	}

	.imgTabla:hover {
		transform: scale(2.2);
	}

.aniNovedades {
	
	transition:all 3s;
}	

.novedades:hover {
	transform: scale(1.2);
	display:front;
}