$azul:#199BFA;
$negro:black;
$naranja:#FF3A00;
$violeta:#9326FA;
$verde:#22E35C;
$amarillo:#FAF619;
$fontsize:20px;
$fontfamily: "Atkinson Hyperlegible";
$blanco:white;
$fucsia:#FF00BA;


body{
  background: linear-gradient(to right, $violeta, $fucsia, $violeta);
}

.texto{
    &_parrafo{
    background:$verde;
    }
    &_titulo{
      background:$amarillo;

    
    }    
}

 	
footer{
background: linear-gradient(to bottom, #E69719, #8C8C8C);
}

.tabla {
  color:white;
  background-color:$violeta;
  border-color:$azul;
  

}

