$azul:#199BFA;
$negro:black;
$naranja:#FF6600;
$violeta:#9326FA;
$verde:#22E35C;
$amarillo:#FAF619;
$fontsize:20px;
$fontfamily: "Atkinson Hyperlegible";
$blanco:white;

li{background-color:$naranja;}

body{background-color:$negro;}

.texto{
    &_parrafo{
    background:$verde;
    }
    &_titulo{
      background:$amarillo;

    
    }    
}

 	
footer{
background: linear-gradient(to bottom, #E69719, #8C8C8C);
}

.tabla {
  color:white;
  background-color:$violeta;
  border-color:$azul;
  

}

