$azul:#199BFA;
$negro:black;
$naranja:#F09218;
$violeta:#9326FA;
$verde:#22E35C;
$fontsize:20px;
$fontfamily: "Atkinson Hyperlegible";
$fonttitulo:"Staatliches", cursive;
$gris:#B2A8B8;
$amarillo:#FFC443;
$turquesa:#006CFF;

li{
    font-size:20px;
    font-family:$fonttitulo;
    font-weight:bold;

 }

.texto{
    &_parrafo{
    font-size:$fontsize;
    font-family:$fontfamily;
    font-weight:bold;
    }
    &_titulo{
    font-size:30px;
    font-family:$fontfamily;
    font-weight: bold;

    }
}

.titulo {
    font-family:$fontfamily;
    font-weight:bold;
    font-size: 30px;
}



.titulofont {
    font-family:$fonttitulo;
    
}

.novedades {
    font-family:$fonttitulo;
    text-align:center;
    pading:15px;
    margin:15px;
    background-color:$gris;
}

.novedadesTitulo{
    font-family:$fonttitulo;
    text-align:center;
    pading:15px;
    margin:15px;
    background-color:$amarillo;
}

.footerfuentes {
    font-family: $fontfamily;
    font-size:15px;
}

.footer-dark h3{
    font-size:23px;
}

.tituloUbi{
    font-family:$fonttitulo;
    background-color:$amarillo;
}

.parrafoUbi {
     weight:bold;
     background-color:$turquesa;
     font-size:25px;
     height:400px;
     padding:100px;

}

.producto {
    
    font-family:$fonttitulo;
    text-align:center;
    pading:15px;
    margin:15px;
    background-color:$gris;

}

.productosTitulo{
    background-color:$amarillo;
    border-radius:20px;
    font-family:$fonttitulo;
    weight:bold;
    

}

.textoNosotros {
    font-family:$fontfamily;
    font-weight:bold;

}