$azul:#199BFA;
$negro:black;
$naranja:#F09218;
$violeta:#9326FA;
$verde:#22E35C;
$fontsize:20px;
$fontfamily: "Atkinson Hyperlegible";

li{
    font-size:20px;
    font-family:$fontfamily

 }

.texto{
    &_parrafo{
    font-size:$fontsize;
    font-family:$fontfamily;
    font-weight:bold;
    }
    &_titulo{
    font-size:30px;
    font-family:$fontfamily;
    font-weight: bold;

    }
}

.titulo {
    font-family:$fontfamily;
    font-weight:bold;
    font-size: 30px;
}




