$azul:#199BFA;
$negro:black;
$naranja:#F09218;
$violeta:#9326FA;
$verde:#22E35C;
$fontsize:20px;
$fontfamily: "Atkinson Hyperlegible";
$fonttitulo:"Staatliches", cursive;

li{
    font-size:20px;
    font-family:$fonttitulo;
    font-weight:bold;

 }

.texto{
    &_parrafo{
    font-size:$fontsize;
    font-family:$fontfamily;
    font-weight:bold;
    }
    &_titulo{
    font-size:30px;
    font-family:$fontfamily;
    font-weight: bold;

    }
}

.titulo {
    font-family:$fontfamily;
    font-weight:bold;
    font-size: 30px;
}



.titulofont {
    font-family:$fonttitulo;
    
}

h1 {
    font-family:$fonttitulo;
}

.footerfuentes {
    font-family: $fontfamily;
    font-size:15px;
}

.footer-dark h3{
    font-size:23px;
}