$vista:desktop;

.tabla {
	@if $vista == desktop{
		td {
			font:{
				size: 20px;
				weight: normal;
			}

		}
		th {
			font:{
				size: 25px;
				weight:bold;
			}		
		}
	}

	@else if $vista == mobile{
		td{
			font:{
				size: 15px;
				weight: normal;
			}
		}
		th{
			font:{
				size: 20px;
				weight:	bold;
			}
		}
	}

	@else {
		td{
			font:{
				size:25px;
				weight: normal;
			}
		}
		th{
			font:{
				size: 30px;
				weight:bold;
			}
		}
	}
}


	.productosFlex {

		@if $vista == desktop{
			display:flex;
				flexdirecction: row;
				justify-content:center;
				padding:50px;
				margin:30px;
				border:15px;
				flex-wrap:wrap;


			}	
		}

	.producto {

		@if $vista == desktop{
				padding:50px;
				margin:30px;
				border:15px;

		}
	}

.tales {
  width: 100%;
}
.carousel-item .img-fluid {
  width:100%;
  height:100%;
  position:center;
 
}



.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

li{
border-radius: 15px;
 margin: 10px;
 }

 .logo {
 		widht:60px;
 		height:60px;
 }

 nav {
 	opacity:0.95;
 }

 .titulofont {
 	font-size:35px;
}

.tituloUbi {
	padding:80px;
	margin:80px;
	text-align:center;
	border-radius:20px;
}

.mapa {
	padding:40px;
	margin:70px;
}

.flexUbi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:space-around;

}    

.productosTitulo {
	padding:80px;
	margin:80px;


}


.dragonite {
	
	margin:80px 40px 80px 80px;
	border-radius:50px;


	
}

.nosotrosFlex {
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-content:space-around;
}

.textoNosotros {
	
	text-align:center;

	background-color:$amarillo;
	font-size:25px;
  height:400px;
  padding:100px;
  
  weight:bold;
}