$vista:desktop;

.tabla {
	@if $vista == desktop{
		td {
			font:{
				size: 20px;
				weight: normal;
			}

		}
		th {
			font:{
				size: 25px;
				weight:bold;
			}		
		}
	}

	@else if $vista == mobile{
		td{
			font:{
				size: 15px;
				weight: normal;
			}
		}
		th{
			font:{
				size: 20px;
				weight:	bold;
			}
		}
	}

	@else {
		td{
			font:{
				size:25px;
				weight: normal;
			}
		}
		th{
			font:{
				size: 30px;
				weight:bold;
			}
		}
	}
}


	.productosFlex {

		@if $vista == desktop{
			display:flex;
				flexdirecction: row;
				padding:50px;
				margin:30px;
				border:15px;


			}	
		}

	.producto {

		@if $vista == desktop{
				padding:50px;
				margin:30px;
				border:15px;

		}
	}

.carousel .carousel-item {
  height: 800px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}


li{
border-radius: 15px;
 margin: 10px;
 }

 